@model PlacementSystem.Models.CampusDriveNotification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CampusDriveNotification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectionProcess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectionProcess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stipend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stipend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BondDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BondDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfJoining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfJoining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Batch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EligibleCourses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EligibleCourses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptCoordinatorNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptCoordinatorNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptCoordinatorEmails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptCoordinatorEmails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPOCoordinatorNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPOCoordinatorNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPOCoordinatorEmails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPOCoordinatorEmails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
