@model IEnumerable<PlacementSystem.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyHRName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyHRContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyHREmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyHRName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyHRContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyHREmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
